<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilPhoto.jpg" 
        class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id= "nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>¡Hola mundo! Mi nombre es Maria Julieta Grigolatto. Soy estudiante de la Tecnicatura Universitaria en Desarrollo Web en la Universidad Nacional de Entre Ríos.
                Me encanta aprender todo lo referido a tecnología.
                Soy principiante en desarrolo del frontend.
                Me destaco mayormente en el backend, también por el tiempo de experiencia en el mismo, he trabajado con lenguajes como Python.
                Soy una persona comprometida y responsable en lo que hago, mi objetivo es poder seguir perfeccionandome en las áreas de desarrollo y poder dedicarme a esto.
                ¡Saludos!
            </p>
        </span>
    </div>
</div>